*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: inherit;
  font-family: inherit;
  color: inherit;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  line-height: 1;
  font-size: calc(.2vw + 1em);
  font-family: sofia-pro, sans-serif; 
  background-color: #F3F3F3;
  color: #151515;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #151515;
    color: #F3F3F3;
  }
}



h1, .h1 {
  font-size: 3rem;
  font-family: sofia-pro, sans-serif; 
  font-weight: 900;
}


h2, .h2 {
  font-size: 2rem;
  font-family: sofia-pro, serif; 
  font-weight: 700;
    
}

h3, .h3 {
  font-size: 1.78rem;
  font-family: sofia-pro, serif; 
  font-weight: 700;
  margin: 1.5rem 0 1rem 0;
}

h4, .h4 {
  font-size: 0.71429rem;
  font-weight: normal;
}

h5, .h5 {
  font-size: 0.5102rem;
  font-weight: normal;
}

h6, .h6 {
  font-size: 0.36443rem;
  font-weight: normal;
}

p, .p {
  font-family: sofia-pro, sans-serif; 
  font-size: .8rem;
  line-height: 150%;
}

p > a {
    text-decoration: underline;
}

img, .img {
  max-width: 100%;
}

p > img, p > video{
  display: block;
  margin: 1rem auto;
}

section > img{
  border-radius: 5px;
}

section {
  max-width: 90ch;
}

section > h1 {
  margin-bottom: 1rem;
}

section > h2 {
  border-bottom: 3px solid;
  margin: 2rem 0 1rem 0;
    padding-bottom: .2rem;
}

.stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: 1.4rem;
}

.stack-sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.stack-sm > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack-sm > * + * {
  margin-top: 1rem;
}

.stack-lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.stack-lg > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack-lg > * + * {
  margin-top: 1.96rem;
}

.stack-xs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.stack-xs > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack-xs > * + * {
  margin-top: 0.2rem;
}

.stack-xl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.stack-xl > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack-xl > * + * {
  margin-top: 2.74rem;
}

.center {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 60ch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

.cover > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cover > :first-child:not(.centered) {
  margin-top: 0;
}

.cover > :last-child:not(.centered) {
  margin-bottom: 0;
}

.cover > .centered {
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (min-width: 48.01rem) {
  main {
    max-height: 100vh;
    overflow-y: auto;
  }
}

.with-sidebar {
  --s1: 1.4rem;
  overflow: hidden;
}

.with-sidebar > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: calc(var(--s1) / 2 * -1);
}

.with-sidebar > * > * {
  margin: calc(var(--s1) / 2);
  -ms-flex-preferred-size: 17rem;
      flex-basis: 17rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.with-sidebar > * > :last-child {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 999;
      -ms-flex-positive: 999;
          flex-grow: 999;
  min-width: calc(50% - var(--s1));
}

.cluster {
  overflow: hidden;
}

.cluster > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -0.5rem;
}

.cluster > * > * {
  margin: 0.5rem;
}

.switcher > * {
  --s1: 1.4rem;
  --measure: 60ch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: calc((var(--s1) / 2) * -1);
}

.switcher > * > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: calc((var(--measure) - (100% - var(--s1))) * 999);
      flex-basis: calc((var(--measure) - (100% - var(--s1))) * 999);
  margin: calc(var(--s1) / 2);
}

.switcher > * > :nth-last-child(n+4),
.switcher > * > :nth-last-child(n+4) ~ * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.frame {
  padding-bottom: 56.25%;
  position: relative;
}

.frame > * {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frame > img,
.frame > video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.frame-square {
  padding-bottom: 100%;
  position: relative;
}

.frame-square > * {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frame-square > img,
.frame-square > video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.flow {
  overflow: hidden;
  margin: -1rem;
}

.flow > * {
  margin: 1rem;
}

.flow > .header {
  margin-top: 1.96rem;
  clear: both;
}

@media screen and (min-width: 48.01rem) {
  .flow > .floater {
    max-width: 300px;
    margin-top: 0;
  }
  .flow > .floater:nth-of-type(odd) {
    float: left;
  }
  .flow > .floater:nth-of-type(even) {
    float: right;
  }
}

.reel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: #959595 #151515;
}

.reel::-webkit-scrollbar {
  height: 1rem;
}

.reel::-webkit-scrollbar-track {
  background-color: #959595;
}

.reel::-webkit-scrollbar-thumb {
  background-color: #151515;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #959595), color-stop(0.25rem, #959595), color-stop(0.25rem, #151515), color-stop(0.75rem, #151515), color-stop(0.75rem, #959595));
  background-image: linear-gradient(#959595 0, #959595 0.25rem, #151515 0.25rem, #151515 0.75rem, #959595 0.75rem);
}

.reel > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
}

.reel > * + * {
  margin-left: 1.4rem;
}

.reel.overflowing {
  padding-bottom: 0.71429rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

#sidebar {
  -webkit-box-shadow: 0px 0px 10px rgba(130, 130, 130, 0.6);
          box-shadow: 0px 0px 10px rgba(130, 130, 130, 0.6);
}

@media screen and (max-width: 48rem) {
  #sidebar {
    display: none;
  }
}

.header hr {
  display: block;
  height: 1px;
  width: 10ch;
  border: 0;
  border-top: 3px solid #151515;
}

.header .subtitle {
  font-family: sofia-pro, sans-serif;
  color: #5D5D5D;
  text-transform: none;
}

@media (prefers-color-scheme: dark) {
  .header .subtitle {
    color: #C6C6C6;
  }
  .header hr {
    border-top: 3px solid #F3F3F3;
  }
}

.navlink {
  font-family: sofia-pro, sans-serif; 
  font-weight: 700
  text-transform: uppercase;
  font-size: 2rem;
  padding: 1.5rem 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navlink.active,
.navlink:hover {
  background-color: #151515;
  color: #F3F3F3;
  -webkit-transition: color 0.1s linear, background-color 0.1s linear;
  transition: color 0.1s linear, background-color 0.1s linear;
}

@media (prefers-color-scheme: dark) {
  .navlink.active,
  .navlink:hover {
    background-color: #F3F3F3;
    color: #151515;
    -webkit-transition: color 0.1s linear, background-color 0.1s linear;
    transition: color 0.1s linear, background-color 0.1s linear;
  }
}

.mobile-header {
  margin: 1rem;
}

@media screen and (min-width: 48.01rem) {
  .mobile-header {
    display: none;
  }
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #151515;
  color: #959595;
}

.bottom-nav .bottom-navlink {
  position: relative;
  height: 100%;
  font-family: sofia-pro, sans-serif; 
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.71429rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-nav .bottom-navlink .accent {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 70%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #151515;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}

.bottom-nav .bottom-navlink.active,
.bottom-nav .bottom-navlink:hover {
  color: #F3F3F3;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.bottom-nav .bottom-navlink.active .accent,
.bottom-nav .bottom-navlink:hover .accent {
  background: #F3F3F3;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}

.container {
  margin-bottom: 3rem;
}

@media screen and (min-width: 48.01rem) {
  .bottom-nav {
    display: none;
  }
  .container {
    margin-bottom: 0;
  }
}

.reel-item {
  height: auto;
}

.reel-item > img {
  width: 100%;
}

.reel-item > .text-container {
  width: 100%;
  background-color: #151515;
  color: #F3F3F3;
  text-align: center;
  padding: 12px;
}

.reel-item > .text-container > h3 {
  margin: 0;
}

form[name="contact"] {
  max-width: 60ch;
}

form[name="contact"] label {
  font-family: sofia-pro, sans-serif; 
    font-weight:700;
}

form[name="contact"] input {
  border-style: solid;
  border: 2px #151515 solid;
  height: 2ch;
  padding: 1.5ch;
}

form[name="contact"] input::-webkit-input-placeholder {
  color: #959595;
  font-style: italic;
}

form[name="contact"] input:-ms-input-placeholder {
  color: #959595;
  font-style: italic;
}

form[name="contact"] input::-ms-input-placeholder {
  color: #959595;
  font-style: italic;
}

form[name="contact"] input::placeholder {
  color: #959595;
  font-style: italic;
}

form[name="contact"] textarea {
  border-style: solid;
  border: 2px #151515 solid;
  padding: 1.5ch;
  padding-top: 1ch;
}

form[name="contact"] textarea::-webkit-input-placeholder {
  color: #959595;
  font-style: italic;
}

form[name="contact"] textarea:-ms-input-placeholder {
  color: #959595;
  font-style: italic;
}

form[name="contact"] textarea::-ms-input-placeholder {
  color: #959595;
  font-style: italic;
}

form[name="contact"] textarea::placeholder {
  color: #959595;
  font-style: italic;
}

form[name="contact"] button {
  font-family: "league_spartanbold", sans-serif;
  font-size: 1rem;
  margin-top: 1rem;
  width: 16ch;
  padding: 1ch;
  text-align: center;
  border-style: solid;
  border: 2px #151515 solid;
  background: #151515;
  color: #F3F3F3;
}

@media (prefers-color-scheme: dark) {
  form[name="contact"] input, form[name="contact"] textarea {
    border: 2px #F3F3F3 solid;
  }
  form[name="contact"] button {
    background: #F3F3F3;
    color: #151515;
  }
}

.filter {
  position: relative;
  line-height: 1.5;
}

.filter::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #151515;
  visibility: hidden;
  border-radius: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: .15s ease-out;
  transition: .15s ease-out;
}

.filter:hover::before, .filter.active::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media (prefers-color-scheme: dark) {
  .filter::before {
    background: #F3F3F3;
  }
}

.card {
  position: relative;
  margin: 0 3px 3px 0;
}

.card .info {
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  color: #F3F3F3;
  z-index: 3;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card .info:hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card .info > * {
  background: none;
}

.hidden {
  display: none;
    
}

.text-decoration\:underline {
  text-decoration: underline;
}

.z-index\:-1 {
  z-index: 0;
}

.padding\:s0 {
  padding: 1rem;
}

.flex-wrap\:wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-content\:space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content\:space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-content\:space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.gap\:s0 {
  gap: 1rem;
}

.box-shadow-light {
  -webkit-box-shadow: 0px 0px 15px rgba(21, 21, 21, 0.15);
          box-shadow: 0px 0px 15px rgba(21, 21, 21, 0.15);
}

.img-inline {
    display: inline;
    max-width: 40%;
}
/*# sourceMappingURL=main.css.map */