$numerator: 1;
$denominator: 1;

.frame-square {
  padding-bottom: ($numerator/$denominator) * 100%;
  position: relative;
}

.frame-square>* {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame-square>img,
.frame-square>video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}