<article class="flow">
    <h2 class="header">
        Who I am
    </h2>
    <figure class="floater">
        <img class="box-shadow-light"src="/static/media/uploads/bio_pic.jpg" alt="Picture of Edan McDevitt">
    </figure>
    <p>
        Hi! I'm a designer currently attending Parsons School of Design, pursuing my MFA in Industrial Design. Before that I went to NYU for Integrated Digital Media where I did work in graphic design, games, and the front-end web. I've been in New York for 7 years now and have worked a lot of interesting jobs like working on Duggal's internal databases at the Brooklyn Navy Yard, making product renders for Just Wireless at the Army Terminal, co-managing a contemporary art gallery in the Lower East Side, and working freelance as a photo editor for Macy's and Kohl's.
        <br>
        As a human, I like fighting games and midnight b-movie screenings, I'm a passionate mender of clothing, and a politics obsessive. My favorite album is Smile by The Beach Boys and my favorite book is Infinite Jest by David Foster Wallace, even though I still don't really get it.
        </p>
</article>