<form class="stack" name="contact" method="POST" data-netlify="true">
    <h2>Contact Me</h2>
    <div class="stack-xs">
        <label for="name">Your Name</label>
        <input type="text" name="name" id="name-field" placeholder="Ex. John Doe" />
    </div>
    <div class="stack-xs">
        <label for="email">Your Email</label>
        <input type="email" name="email" id="email-field" placeholder="Ex. JohnDoe@gmail.com" />
    </div>
    <div class="stack-xs">
        <label for="message">Your Message</label>
        <textarea name="message" id="message-field" cols="30" rows="10" placeholder="Enter message here..."></textarea>
    </div>
    <button type="submit">Send</button>
</form>