<article class="flow">
    <h2 class="header">Let's Work Together</h2>
    <p>I am always looking for new projects, teams and collaboration opportunities to get my work out there, expand my
        own knowledge of my field, and to teach others what I know.</p>
    <p>If you're interested in working with me, hit me up in the contact form or through my socials down below. I'm a
        versatile worker and I function just as well on independent projects as in a structured group setting. What I
        think I bring to the table that's most important is an attitude towards constant learning and improvement, and I
        am always iterating on my own skills both as a designer and as a human being.</p>
</article>