<article class="flow">
    <h2 class="header">Let's Work Together</h2>
    <p>If you're interested in working with me, or if you just want to say hi, hit me up in the contact field or through the socials below. I'm always interested in collaborating on new projects and expanding my expertise into new fields.
    </p>
</article>