<article class="stack-sm">
    <h2>What I Do</h2>
    <div class="grid gap:s0">
        {% for category in collections.projectCategories %}
            <a href="/#{{ category | lower | replace(" ", "-") }}">
                <figure class="reel-item">
                    <img src={{ project.data.thumbnailSrc }} alt={{ project.data.thumbnailAlt }} class="box-shadow-light">
                    <div class="text-container">
                        <h3>{{ category }}</h3>
                    </div>
                </figure>
            </a>
        {% endfor %}
    </div>
</article>

{% set reel %}
{% include "assets/js/reel.js" %}
{% endset %}
<script>
    {{ reel | jsmin | safe }}
</script>