.card {
    position: relative;

    .info {
        padding: $s0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(black, 0.6);
        color: $color-white;
        z-index: 3;
        opacity: 0;
        transition: 0.3s;

        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        &:hover {
            opacity: 1;
            transition: 0.3s;
        }
    }

    .info > * {
        background: none;
    }
}