.subtitle {
    font-family: $font-body;
    text-align: center;
    color: $color-dark-gray;
    text-transform: none;
}

@media (prefers-color-scheme: dark) {
    .subtitle {
        color: $color-light-gray;
    }
}