---
layout: layouts/base.njk
title: About
permalink: "/about/index.html"
tags: pages
---

<section class="centered stack">
    {% include "components/about-me.njk" %}
    {% include "components/what-i-do.njk" %}
</section>