---
date: 2017-01-01
layout: layouts/base.njk
title: About
permalink: "/about/index.html"
tags: pages
---

<section class="centered stack-lg">
    {% include "components/about-me.njk" %}
    {% include "components/what-i-do.njk" %}
</section>