---
date: 2018-01-01
layout: layouts/base.njk
title: Contact
permalink: "/contact/index.html"
tags: pages
---
<section class="centered stack">
    {% include "components/lets-work-together.njk" %}
    {% include "components/social-list.njk" %}
    {% include "components/contact-form.njk" %}
</section>